@model List<TarefaModel>
@{
    ViewData["Title"] = "Listagem de Tarefas";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-asp-controller="Contato" asp-action="Criar">Adicionar nova Tarefa</a>
    </div>

    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de Tarefas</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
                <th scope="col">Início</th>
                <th scope="col">Final</th>
                <th scope="col">Prioridade</th>
                <th scope="col">Finalizada</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (TarefaModel tarefa in Model)
                {
                    <tr>
                        <th scope="row">@tarefa.Id</th>
                        <td>@tarefa.Titulo</td>
                        <td>@tarefa.Descricao</td>
                        <td>@tarefa.Data.ToString("d")</td>
                        <td>@tarefa.Inicio.ToString("HH:mm")</td>
                        <td>@tarefa.Final.ToString("HH:mm")</td>
                        <td>@tarefa.Prioridade</td>
                        <td>@tarefa.Finalizada</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@tarefa.Id" asp-asp-controller="Tarefa" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@tarefa.Id" asp-asp-controller="Tarefa" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

